$base-color:#FF2A2A;
$second-color:#FFFFFF;
$third-color: #E9F1FB;


html {
    font-family: 游ゴシック;
    color: #222;
    font-size: 1em;
    letter-spacing: 0.1em;
    overflow-x: hidden;
}

body{
    margin: 0;

}
header{
    height: 100px;
    width: 100%;

    @media screen and (max-width: 900px) {
        height: 75px;
    }

    .imageLogo{
        margin-top: 40px;
        margin-left: 50px;

        @media screen and (max-width: 900px) {
            margin-top: 25px;
            margin-left: 25px;
        }
    }
    
    /* チェックボックスは非表示に */
    .drawer-hidden {
    display: none;
    }

    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
    display: flex;
    height: 100px;
    width: 100px;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
    background-color: $base-color;

        @media screen and (max-width: 900px) {
            height: 75px;
            width: 75px;
        }
    }

    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: $second-color;
    transition: 0.5s;
    position: absolute;

        @media screen and (max-width: 900px) {

        }
    }

    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
    bottom: 15px;
    }

    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
    top: 15px;
    }

    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
    }

    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked ~ .drawer-open span::before {
        bottom: 0;
        transform: rotate(45deg);
        }

    #drawer-check:checked ~ .drawer-open span::after {
        top: 0;
        transform: rotate(-45deg);
        }
    }
    

    /* メニューのデザイン*/
    .drawer-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/* メニューを画面の外に飛ばす */
        z-index: 49;
        background: $base-color;
        transition: .5s;
    }


        .drawer-list{
            list-style-type: none;
            width: 100%;
            height: auto;
            padding: .5em 1em;
            text-align: center;
            color: #fff;
            box-sizing: border-box;

            a{
                color: $second-color;
                cursor: pointer;
                }


                .lineBox{
                    margin-top: 55px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 20px;
                

                    .borderBox {
                        margin: 40px auto;
                        width: 250px;
                        padding: 15px 47px;
                        border: 1px solid white;
                        position: relative;
                        }
                    
                    .borderBox::after {
                        background: none;
                        border-right: 1px solid white;
                        border-bottom: 1px solid white;
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 100%;
                        height: 100%;
                    }
                }

            .drawer-item{
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }

        /* アイコンがクリックされたらメニューを表示 */
        #drawer-check:checked ~ .drawer-content {
        left: 0;/* メニューを画面に入れる */
        }
    



main{
    #mainVisual{
        width: 100%;
        height: 720px;
        
        @media screen and (max-width: 900px) {
            padding-top: 15px;
            height: 469px;
            margin-bottom: 60px;
        }

        .school{
            height: 230px;
            width: 479px;
            position: absolute;
            top: 380px;
            left: 10%;
            z-index: 20;

        @media screen and (max-width: 900px) {
            height: 160px;
            width: 343px;
            position: absolute;
            top: 380px;
            left: 5%;
            z-index: 20;
            margin: 0;
        }

            p{
                font-weight: bold;
                font-size: 46px;
                text-shadow: +1px +3px 3px #FFFFFF;
                margin: 0;
                margin-bottom: 30px;

                @media screen and (max-width: 900px) {
                    font-size: 28px;
                    margin-bottom: 10px;
                }

            }

            .btn-square{
                position: relative;
                width: 479px;
                font-size: 24px;
                color: white;
                display: inline-block;
                padding: 0.5em 1em;
                transition-duration: 0.5s;
                background: #FF0033;
                border: none;
                border-bottom: solid 6px #7A051C;
                border-radius: 10px;

            
                @media screen and (max-width: 900px) {
                    width: 290px;
                }

                span:after{
                    content: "";
                    width: 16px;
                    height: 16px;
                    border-top: solid 3px #fff;
                    border-right: solid 3px #fff;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                    top: 20px;
                    left: 430px;

                    @media screen and (max-width: 900px) {
                        top: 20px;
                        left: 295px;
                        font-size: 28px;
                        margin-bottom: 10px;
                    }
                }
            }

            .btn-square:hover {
                /*カーソルを乗せた時*/
                transform: scale(1.05, 1.05);
                cursor: pointer;
            }
        }
        
        .slider_fade {
                position: relative;
                width: 75%;
                height: 720px;
                margin-left: 25%;
                padding: 0;
                
                @media screen and (max-width: 900px) {
                    width: 100%;
                    height: 300px;
                    padding: 0;
                    margin: 0;
                }

                ::before{
                    display: block;
                    content: '';
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-shadow: inset 0 0 25px 25px white;
                }


            
            li{
                width: 100%;
                height: 100%;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
        }

        .slider_fade > li {
            position: absolute;
            list-style: none;
            visibility: hidden;
            animation: anime_slider_fade 12s 0s infinite;
        }
        .slider_fade > li:nth-of-type(2) {
            animation-delay: 4s;
        }
        .slider_fade > li:nth-of-type(3) {
            animation-delay: 8s;
        }

        @keyframes anime_slider_fade {
            0% {
                visibility: visible;
                opacity: 0;
            }
            15% {
                opacity: 1;
            }
            33.3% {
                opacity: 1;
            }
            48.3% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
        }

    #reason{
        width: 100%;
        height: 740px;
        margin-bottom: 200px;

        @media screen and (max-width: 900px){
            height: 454px;
            margin-bottom: 129px;
        }

        .reasonPoint{
            height: 600px;
            width: 100%;
            padding-top: 40px;
            background: $base-color;

            @media screen and (max-width: 900px){
                height: 358px;
            }
        }

        .reason1 {
            width: 50%;
            height: 200px;
            margin-top: 80px;
            margin-bottom: 40px;
            background: white;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            opacity: 0;
            transform: translate(-50%, 0);
            transition: 0.5s;
            display: flex;

            @media screen and (max-width: 900px){
                width: 95%;
                height: 119px;
                margin: 0;
                margin-bottom: 40px;
            }

            div {
                margin: auto;
                display: flex;

                @media screen and (max-width: 900px){
                    padding: 15px;

                    img{
                        margin: auto;
                    }
                }

                p{           
                    margin: 0 0 0 30px;
                    display: flex;
                    flex-flow: column;
                }

                .title{
                    width: 213px;
                    height: 36px;
                    color: $base-color;
                    font-size: 28px;
                    font-weight: bold;

                    @media screen and (max-width: 900px){
                        font-size: 24px;
                    }
                }

                .letter{
                    font-size: 18px;
                }
            }
        }


        .reason2 {
            width: 50%;
            height: 200px;
            background: white;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin: 60px 0 0 auto;
            opacity: 0;
            transform: translate(50%, 0);
            transition: 0.5s;
            display: flex;

            @media screen and (max-width: 900px){
                width: 95%;
                height: 119px;
            }

                div {
                    margin: auto;
                    display: flex;

                    
                    @media screen and (max-width: 900px){
                        padding: 15px;

                        img{
                            margin: auto;
                        }
                    }

                    p{           
                        margin: 0 0 0 30px;
                        display: flex;
                        flex-flow: column;
                    }

                    .title{
                        width: 244px;
                        height: 36px;
                        color: $base-color;
                        font-size: 28px;
                        font-weight: bold;

                        @media screen and (max-width: 900px){
                            font-size: 24px;
                        }
                    }

                    .letter{
                        font-size: 18px;
                    }
            }
        }
    
    }

    #voice{
        width: 100%;
        height: 935px;

        @media screen and (max-width: 900px){
            height: 1420px;
        }

        .voiceSet{
            height: 754px;
            width: 860px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 900px){
                height: 1244px;
                width: 100%;
                justify-content: space-between;
            }

            
            img{
                width: 120px;
                height: 120px;
                background-color: #CCCCCC;
                border-radius: 100px;
            }

            .name{
                font-size: 0.75rem;
                text-align: center;
            }

            .balloon {
                width: 474px;
                height: 102px;
                background: #E9F1FB;
                position: relative;
                border-radius: 15px;
                padding: 20px;
                margin: 0 25px;

                @media screen and (max-width: 900px){
                    margin: 0 auto;
                    width: 298px;
                    height: 156px;
                }
            }

            .voice1,.voice3{
                display: flex;
                height: 162px;
                margin: 0;
                transform:scale(0.1);
                transition: 0.5s;

                @media screen and (max-width: 900px){
                    height: 388px;
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                }
            }
            
            .voice1 div{
                    position: relative;

                    @media screen and (max-width: 900px){
                        text-align: center;
                    }
                }


            .voice3 div{
                    position: relative;

                    @media screen and (max-width: 900px){
                        text-align: center;
                    }
                }
            

            .voice2 {
                display: flex;
                flex-direction: row-reverse;
                height: 162px;
                margin: 0;
                margin-left: 200px;
                transform:scale(0.1);
                transition: 0.5s;

                @media screen and (max-width: 900px){
                    height: 388px;
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    margin: 0;
                }

                div{
                    position: relative;

                    @media screen and (max-width: 900px){
                        text-align: center;
                    }
                }
            }
        }
    }
    

    #summary{
        height: 897px;
        width: 100%;
        background-color: #E8E8E8;
        background-image: url("../img/bg.gif");
        animation: bgiLoop 10s linear infinite;

        @media screen and (max-width: 900px){
            height: 1240px;
            width: 100%;
        }

        h1{
            padding-top: 60px;
        }

        .viewSet{
            width: 860px;
            height: 601px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: 900px){
                width: 343px;
                height: 1026px;
                flex-direction: column;
            }
            
            div{
                background: #FFFFFF;
                width: 410px;
                height: 283px;
                border-radius: 15px;

                @media screen and (max-width: 900px){
                    width: 343px;
                    height: 232px;
                }
            }

            h2{
                font-size: 28px;
                margin-top: 30px;
                margin-bottom: 0;

                @media screen and (max-width: 900px){
                    font-size: 24px;
                    height: 31px;
                }
            }

            h3{
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 0;

                @media screen and (max-width: 900px){
                    font-size: 16px;
                    height: 21px;
                }
            }

            p{
                font-size: 16px;
                margin: 30px auto;
                width: 280px;
                height: 75px;
                text-align: left;
            }
        }
    }

    #Apply{
        height: 416px;
        width: 100%;
        text-align: center;
        margin: 0;

        @media screen and (max-width: 900px){
            height: 382px;
            width: 100%;
        }

        h1{
            font-size: 32px;
            margin: 0;
            padding-top: 120px;

            @media screen and (max-width: 900px){
                padding-top: 80px;
                font-size: 24px;
            }
        }

        p{
            font-size: 18px;
            margin: 0 0 40px 0;

            @media screen and (max-width: 900px){
                font-size: 16px;
            }
        }

        button{
            width: 860px;
            height: 58px;
            background-color: #FF2A2A;
            color: rgb(255, 255, 255);
            font-size: 28px;
            border-radius: 20px;
            border: none;

            @media screen and (max-width: 900px){
                width: 91%;
                font-size: 24px;
            }
        }

        button:hover{
            color: #FF2A2A;
            background-color: #fff;
            border: solid 2px red;
        }
    }


    
    .fadein {
        opacity: 1!important;
        transform: translateX(0)!important;
    }

    .zoomIn{
        transform:scale(1)!important;
    }

    @keyframes bgiLoop {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -700px 700px;
        }
    }
}
    .border {
                text-decoration: underline;
                text-underline-offset: 30px;
            }

    .container{
        font-size: 36px;
        margin: 120px auto;
        width: 100%;
        max-width: 860px;
        text-align: center;

        @media screen and (max-width: 900px) {
            font-size: 28px;
            margin: 0px auto 60px auto;
            width: 281px;
        }
    }   

        *, :after, :before {
        box-sizing: inherit;
    }

    footer {
        background-color: #e8e8e8;
        padding: 60px 0 20px 0;

        section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            width: 100%;
            max-width: 860px;
            margin: 0 auto;
            

            @media screen and (max-width: 900px){
                padding: 16px;
                flex-wrap: wrap;
            }
        }



        p {
            font-weight: bold;
            font-size: 16px;
            margin: 0;
            margin-bottom: 10px;

            @media screen and (max-width: 900px){
                font-size: 15px;
            }
        }

        ul{
            margin: 0;
            padding: 0px 0px 0px 10px;
            list-style-type: none;

            @media screen and (max-width: 900px){
                padding: 0px 63px 20px 15px;
            }
        }

        li {
            font-size: 16px;

            @media screen and (max-width: 900px){
                font-size: 12px;
            }
        }

        h1 {
            font-size: 10px;
            font-weight: normal;
            margin: 0;
            text-align: center;
        }
    }

